/java/manejoArchivo/fichero_directorio/nbproject/private/
/java/manejoArchivo/fichero_directorio/build/
/java/manejoArchivo/fichero_directorio/dist/
/java/manejoArchivo/outputString/nbproject/private/
/java/manejoArchivo/outputString/build/
